In [6]:

import pandas as pd

df = pd.read_csv('Book1.csv',header = None)
df.head(25)

       0      1      2            3       4
0    199  0.796  0.513   92000000.0  0.2350
1    199  0.704  0.558   23000000.0  0.4140
2    199  0.695  0.777  129000000.0  0.3600
3    199  0.834  0.779   85400000.0  0.3910
4    199  0.841  0.516  132000000.0  0.5560
5    189  0.500  0.622   30800000.0  0.2520
6    189  0.828  0.487   60800000.0  0.7610
7    189  0.552  0.880    2430000.0  0.7160
8    189  0.422  0.851   14100000.0  0.6670
9    189  0.552  0.880    2430000.0  0.7160
10   247  0.729  0.799   29600000.0  0.5320
11   247  0.820  0.908   28400000.0  0.9190
12   247  0.681  0.621   25900000.0  0.4280
13   247  0.685  0.545   16000000.0  0.5060
14   247  0.488  0.645   18000000.0  0.5950
15  4421  0.394  0.661  171000000.0  0.3350
16  4421  0.869  0.687  290000000.0  0.6680
17  4421  0.680  0.843  102000000.0  0.7430
18  4421  0.598  0.252  132000000.0  0.0352
19  4421  0.756  0.857  175000000.0  0.6880
20  3514  0.770  0.567  322000000.0  0.2600
21  3514  0.745  0.714   70400000.0  0.5540
22  3514  0.789  0.530  138000000.0  0.3670
23  3514  0.487  0.435   17400000.0  0.0849
24  3514  0.822  0.734  294000000.0  0.4250

In [25]:
#import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree



Y_train = df.iloc[0:, 1].values
text_train = df.iloc[0:, 4].values

#Y_test = df_test.iloc[0:, 1].values
#text_test = df_test.iloc[0:, 4].values

X = df.values[:, 1:4]
Y = df.values[0:,0]

#X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 0.2, random_state = 100)

In [23]:
import re
from collections import Counter

def ngrams(tokens, n):
    output = []
    for i in range(n-1, len(tokens)):
        ngram = ' '.join(tokens[i-n+1:i+1])
        output.append(ngram)
    return output

def features(text, ngram_range=(1,1)):
    text = text.lower()      # make the string lowercase
    text = re.sub(r'(.)\1+', r'\1\1', text)     # remove consecutive characters that are repeated more than twice
    
    features_in_text = []   # running list of all features in this instance (can be repeated)
    
    # treat alphanumeric characters as word tokens (removing anything else),
    # and extract all n-grams of length n specified by ngram_range
    
    text_alphanum = re.sub('[^a-z0-9]', ' ', text)
    for n in range(ngram_range[0], ngram_range[1]+1):
        features_in_text += ngrams(text_alphanum.split(), n)
    
    # now treat punctuation as word tokens, and get their counts (only unigrams)
    
    text_punc = re.sub('[a-z0-9]', ' ', text)
    features_in_text += ngrams(text_punc.split(), 1)
    
    # 'Counter' converts a list into a dictionary whose keys are the list elements 
    #  and the values are the number of times each element appeared in the list
    
    return Counter(features_in_text)

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, cross_val_predict
from sklearn.metrics import accuracy_score

# this defines the classifier we will use -- don't change this variable

base_classifier = LogisticRegression(multi_class='multinomial', solver='lbfgs', random_state=123)

# these are the C values we will compare -- don't change this variable

params = [{'C': [0.01, 0.1, 0.5, 1.0, 2.5, 5.0, 10.0, 50.0, 100.0]}]

# this performs 5-fold cross-validation with the above classifier and parameter options

gs_classifier = GridSearchCV(base_classifier, params, cv=5)
gs_classifier.fit(X_train, Y_train)

print("Best parameter settings:", gs_classifier.best_params_)
print("Validation accuracy: %0.6f" % gs_classifier.best_score_)

C:\Users\matt\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Best parameter settings: {'C': 0.01}
Validation accuracy: 0.052632

In [26]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.2, random_state = 100)

In [27]:
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100)
clf_entropy.fit(X_train, y_train)
tree.export_graphviz(clf_entropy, out_file='ttt.dot')